{{> header_nav}}

<div class="UserPageFormat">
            <div class="UserPost">
                <div class="ProfileViewTab">
                    <a href="/viewUser_Post" class="PostsButton">
                        <div class="ProfileView">Posts</div>
                    </a>

                    <a href="/viewUser_Com" class="CommentButton">
                        <div class="ProfileView">Comments</div>
                    </a>
                </div>

                <div class="PostCont">
                    <div class="Tag-button">
                        <div class="TagText">Student Life</div>
                    </div>
                    <div class="PostDate">11 Hr.ago</div>
                    <div class="PostTitle">Lf someone to dress up as a banana with me and stroll around campus while holding hands🍌</div>
                    <div class="CommentButtons">
                        <div class="editComButton">
                            <a href="/edit_comments" class="button-link">
                                <button type="submit" class="EditComPostButton">Edit</button>
                            </a>
                        </div>
                        <div class="delComButton">
                            <button type="submit" class="DelComPostButton" onclick="myFunction()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="UserProfile">

                <div class="ProfilePicture">
                    <img src="images/BlankProfilePic.png">
                </div>

                <div class="UserNameCont">
                    <div class="UserName">
                        AppleDeli1741
                    </div>
                </div>

                <div class="UserButtonsCont">
                    <a href="edit_profile">
                        <button class="EditButton">Edit</button>
                    </a>
                </div>

                <div class="ExtraInfoCont">
                    <div class="PostNo">
                        <div class="ProfileText">1</div>
                        <div class="SmallerProfileText">No. of Posts</div>
                    </div>
                    <div class="CommentNoPostNo">
                        <div class="ProfileText">5</div>
                        <div class="SmallerProfileText">No. of Comments</div>
                    </div>
                    <div class="CreationDate">
                        <div class="ProfileText">05/25/2024</div>
                        <div class="SmallerProfileText">Creation Date</div>
                    </div>
                </div>

            </div>

        </div>

<script>
    function myFunction() {
	    alert("This feature is still in progress!");
    }
</script>